:root[pinterest-hide-feed="true"][page-path="/"] {
  [role="main"] {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    max-height: 100px !important;
    overflow-y: hidden;
  }

  *:has(> #searchBoxContainer) {
    background-color: transparent !important;
  }

  #searchBoxContainer {
    position: fixed;
    bottom: 50%;
    left: 50%;

    margin-bottom: 10rem;

    transform: translate(-50%, -50%);
    width: 100%;
    max-width: max(480px, 50vw);
  }
  #SuggestionsMenu {
    left: 0 !important;
    right: 0 !important;
  }
}
:root[pinterest-hide-explore-feed="true"][page-path*="/ideas/"] {
  [role="main"] {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    max-height: 100px !important;
    overflow-y: hidden;
  }

  *:has(> #searchBoxContainer) {
    background-color: transparent !important;
  }

  #searchBoxContainer {
    position: fixed;
    bottom: 50%;
    left: 50%;

    margin-bottom: 10rem;

    transform: translate(-50%, -50%);
    width: 100%;
    max-width: max(480px, 50vw);
  }
  #SuggestionsMenu {
    left: 0 !important;
    right: 0 !important;
  }
}

:root[pinterest-hide-search-feed="true"][page-path*="/search/"] {
  [role="main"] {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    max-height: 100px !important;
    overflow-y: hidden;
  }
}

:root[pinterest-hide-related-pins-feed="true"][page-path*="/pin/"] {
  // hides related pins
  [role="listitem"]:has([href*="/pin/"]) {
    width: 1px !important;
    height: 0px !important;
    overflow: hidden;
  }

  // makes the currently viewed pin take the whole screen
  [role="list"] {
    height: fit-content !important;
  }

  // hides the discover related crap
  [role="listitem"]:has([data-test-id="discover-bubble"]) {
    display: none;
  }
  [role="listitem"]:has([data-test-id="closeup-action-bar"]) {
    width: 100% !important;
  }
}
