/* Home page */
:root[page-home="true"][facebook-hide-main-feed="true"] *[role="main"] {
  display: none;
}

/* Video page */

:root[page-watch="true"][facebook-hide-videos="true"] *[role="main"] {
  display: none;
}

:root[facebook-hide-videos="true"] li:has(a[href*="/watch/"]) {
  display: none;
}

/* Gaming */
:root[facebook-hide-games="true"] {
  li:has(a[href*="gaming"]) {
    display: none;
  }
}

:root[page-gaming="true"][facebook-hide-games="true"] *[role="main"] {
  display: none;
}

:root[page-gaming="true"][facebook-hide-games="true"]
  *[role="navigation"]:has(a[href*="/gaming/following/"]) {
  display: none;
  outline: 1px solid green;
}

/* marketplace */

:root[facebook-marketplace-searchbox="true"][page-marketplace="true"]
  *[role="main"] {
  display: none;
}

/* removes the feed at the bottom of a marketplace post */
/* the div with the text area is the div that holds the current item */
:root[facebook-marketplace-searchbox="true"][page-marketplace="true"]
  div:has(textarea)
  ~ div:has(*[attributionsrc], a[href*="/marketplace/item/"]) {
  outline: 2px solid red;
  display: none;
}
