/* Removes feed */
div[data-testid="mainFeed"] > :not(:nth-child(1)) {
  display: none;
}

/*  changes notifications */
a[href*="https://www.linkedin.com/feed/"] .notification-badge,
a[data-view-name="navigation-notifications"] span:has(svg) > span {
  color: inherit !important;
  background-color: transparent !important;
  border: 2px solid;
}

/* premium upsells */
div:has(> *[data-view-name="premium-nav-upsell-text"]) {
  display: none;
}

div:has(> *[data-view-name="premium-upsell-link"]) {
  display: none;
}
div:has(> * > div[data-view-name="identity-module-upsell"]) {
  display: none;
}

/*  ads */
iframe[title="advertisement"] {
  display: none !important;
}

iframe[title="advertisement"] {
  display: none !important;
}
.ad-banner {
  display: none;
}
