/* Sidebar */
ytd-guide-section-renderer.style-scope:nth-child(3),
ytd-guide-section-renderer.style-scope:nth-child(4),
ytd-guide-signin-promo-renderer {
  display: none;
}

/*  Shorts button in sidebar */
*:has(> #endpoint[title="Shorts"]) {
  display: none;
}

/* Hide shorts in search results */
grid-shelf-view-model {
  display: none !important;
}
ytd-rich-section-renderer,
ytd-reel-shelf-renderer {
  display: none !important;
}
/* Hides the short filter option on results page */
*:has(> * > .ytd-search-filter-renderer[title="Search for Shorts"]) {
  display: none;
}

/* hides recommended section while still allowing playlists to be shown */
#secondary:has(ytd-playlist-panel-renderer[hidden]) {
  display: none;
}
/* hides the recommend when there is a playlist */
#related {
  display: none;
}

/* Hides shorts tab on the channel page */
yt-tab-shape[tab-title="Shorts"] {
  display: none;
}

ytd-video-renderer:has(*[href*="shorts"]) {
  display: none;
}

ytd-rich-grid-renderer {
  display: none;
}
/* TODO figureout how to select the chip renderer for the shorts filter button */
/* yt-chip-cloud-chip-renderer {
} */

/* Centering the search bar on the home screen */

:root[homepage="true"] #masthead-container {
  transform: unset !important;
  position: unset !important;
}

:root[homepage="true"] #masthead-container #center {
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  outline: 1px solid red;
  justify-content: center;
  pointer-events: none;
}

:root[homepage="true"] #masthead-container #center > * {
  pointer-events: auto;
}
:root[homepage="true"] yt-searchbox {
  flex: unset !important;
  min-width: 50vw;
}

:root[homepage="true"] ytd-topbar-logo-renderer {
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 209px !important;

  display: flex;
  flex-direction: column-reverse;
  align-items: end;
  justify-content: center;
  margin-bottom: 200px;
  pointer-events: none;
}

:root[homepage="true"] ytd-topbar-logo-renderer a#logo {
  scale: 2;
  pointer-events: all;
}

:root[homepage="true"] #logo * {
  position: unset;
}
